@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background:linear-gradient(45deg, #120426,#836AA6);
    color: #a36cf0;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    text-align: center;
    color: #a36cf0;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
    color: #a36cf0;
}

main .alternative span::before, main .alternative span::after  {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: #a36cf0;
}

main .alternative span::after  {
    left: 50px;
}

main .alternative {
    margin-top: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background-color: #490d9c;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    border: 1px solid #2b095a;
    border-radius: 8px;
    outline: none;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 3rem;
    border: none;
    border-radius: 32px;
    background: #490d9c;
    color: #a36cf0;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #2f0866d5;
}

section.images{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.images img {
    max-width: 90%;
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #a36cf0;
    clip-path: circle(56% at right 50%);
    z-index: -1;
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type='submit'] {
        font-size: 1rem;
    }
}